# Tuples

In [1]:
t1 = ()
t1 = (1, 2, 3, 4)
print(t1)

(1, 2, 3, 4)

In [2]:
t1 = (4, 3, 2, 1)
print(t1)

(4, 3, 2, 1)

In [3]:
t2 = ("hi there", 1 , 2 , [3, 4], (5, 6))
print(t2)

('hi there', 1, 2, [3, 4], (5, 6))

In [5]:
t2[0].join("hi")

'hhi therei'

In [6]:
print(t2)

('hi there', 1, 2, [3, 4], (5, 6))

In [7]:
t2[0] = t2[0].join("hi")
print(t2)

TypeError: 'tuple' object does not support item assignment

In [8]:
t2[1] = 100
print(t2)

TypeError: 'tuple' object does not support item assignment

In [10]:
t3 = (1)
type(t3)

int

In [11]:
t3 = (1,)
type(t3)

tuple

In [12]:
print(t2)

('hi there', 1, 2, [3, 4], (5, 6))

In [13]:
t2[3].append(200)
print(t2)

('hi there', 1, 2, [3, 4, 200], (5, 6))

In [14]:
t2[3][2] = 1000
print(t2)

('hi there', 1, 2, [3, 4, 1000], (5, 6))

In [15]:
t2[-1]

(5, 6)

In [16]:
t2[-3:-1]

(2, [3, 4, 1000])

In [17]:
t2[-3:]

(2, [3, 4, 1000], (5, 6))

In [18]:
t2[:]

('hi there', 1, 2, [3, 4, 1000], (5, 6))

In [19]:
t3 = t1 + t2
print(t3)

(4, 3, 2, 1, 'hi there', 1, 2, [3, 4, 1000], (5, 6))

In [20]:
t4 = t1 * 3
print(t4)

(4, 3, 2, 1, 4, 3, 2, 1, 4, 3, 2, 1)

In [21]:
t4 = t1 * 2
print(t4)

(4, 3, 2, 1, 4, 3, 2, 1)

In [22]:
del t4[1]

TypeError: 'tuple' object doesn't support item deletion

In [23]:
t4[1] = []

TypeError: 'tuple' object does not support item assignment

In [24]:
del t3

In [25]:
print(t3)

NameError: name 't3' is not defined

In [26]:
t4.count(1)

2

In [27]:
t2.count("h")

0

In [28]:
4 in t4

True

In [29]:
5 in t4

False

In [30]:
5 not in t4

True

In [31]:
for item in t4:
    print(item)

4
3
2
1
4
3
2
1

In [33]:
max(t4)

4

In [34]:
min(t4)

1

In [35]:
l1 = [1, 2, 3, 4]
t5 = tuple(l1)
print(t5)
type(t5)

(1, 2, 3, 4)

tuple